<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/vendor/angular.js"></script>
    <script type="text/javascript" src="js/vendor/angular-ui-router.js"></script>
    <script type="text/javascript" src="js/vendor/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/vendor/angular-animate.js"></script>
    <script type="text/javascript" src="js/vendor/angular-scroll.js"></script>
    <script type="text/javascript" src="js/vendor/moment.js"></script>
    <script type="text/javascript" src="js/vendor/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="js/_compiled/bandpage.templates.js"></script>
    <script type="text/javascript" src="js/_compiled/bandpage.js"></script>
    <base href="http://localhost:3000/" target="_blank">
    <link href='http://fonts.googleapis.com/css?family=Arvo|Open+Sans' rel='stylesheet' type='text/css'>
</head>
 {{{body}}}
</html>